@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("league-spartan-v11-latin-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
:root {
  /* THEME 1 */
  /* THEME 1 */
  /* THEME 1 */

  /* Backgrounds */
  --main-bg:hsl(222, 26%, 31%);
  --secondary-bg:hsl(223, 31%, 20%);
  --result-screen-bg:hsl(224, 36%, 15%);
  --number-btn-bg:hsl(30, 25%, 89%);
  --function-bg:hsl(225, 21%, 49%);
  --accent-bg:hsl(6, 63%, 50%);

  --text-primary-clr:hsl(0, 0%, 100%);
  --text-secondary-clr:hsl(222, 26%, 31%);
  --text-equal-clr:hsl(0, 0%, 100%);
  --text-function-clr:hsl(0, 0%, 100%);

  --number-btn-shadow:hsl(28, 16%, 65%);
  --function-btn-shadow:hsl(224, 28%, 35%);
  --function-equal-shadow:hsl(6, 70%, 34%);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
  padding: 1.75rem;
}

/* shared styles */
main {
  max-width: 24.75rem;
}

.results {
  width: 100%;
  min-height: 100px;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 3.5rem;
  line-height: 100px;
  text-align: right;
  padding: 0 1rem;
  overflow: auto;
}

.keypad {
  padding: 1.5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.keypad button {
  font-size: 2rem;
  border: 0;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  transition: 0.2s;
  /* background-color:var(--theme-key-bg); */
}

button:hover {
  filter: brightness(1.25);
}

.reset {
  grid-column: span 2;
}
.equal {
  grid-column: span 2;
}

/* Theme 1 */
body {
  background-color: var(--main-bg);
}

h3 {
  color: var(--theme-white-text);
}

.results {
  color: var(--text-primary-clr);
  background-color: var(--result-screen-bg);
}
.keypad {
  background-color: var(--secondary-bg);
}

.delete,
.reset {
  color:var(--text-function-clr);
  background-color:var(--function-bg);
  box-shadow: 0 5px 0 0 var(--function-btn-shadow);
}

.equal {
  color:var(--text-equal-clr);
  background-color:var(--accent-bg);
  box-shadow:0 5px 0 0 var(--function-equal-shadow);
}

button:not(.reset, .equal, .delete) {
  color: var(--text-secondary-clr);
  background-color: var(--number-btn-bg);
  box-shadow: 0 5px 0 0 var(--number-btn-shadow);
}

.theme {
  padding:2rem 0rem;
  display:flex;
  align-items:center; 
  justify-content:space-between;
}

.theme-btn {
  cursor:pointer;
  height:25px;
  width:25px;
  padding:0;
  margin:0;
  border:none;
  opacity:0;
  background: transparent;
  z-index:2;
}

.theme-btn:checked + .theme-btn-icon {
  background-color: var(--accent-bg);
}

.theme-btn-wrapper { 
  --size:calc(25px + 0.5rem);
  height:var(--size);
  width:var(--size);
  display:flex;
  align-items: center;
  background-color:var(--secondary-bg); 
  position:relative;
}

.theme-btn-wrapper {
  padding:0.3rem;
}

.theme-btn-wrapper--first {
  padding:0.3rem 0.5rem;
  border-radius:50px 0px 0px 50px;
}

.theme-btn-wrapper--last {
  padding:0.3rem 0.5rem;
  border-radius:0px 50px 50px 0px;
}

.theme-btn-icon {
  display:inline-block;
  height:25px;
  width:25px;
  border-radius:50%;
  position:absolute;  
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.app-title {
  color:var(--text-primary-clr);
  font-size:2rem;
  font-weight:900;
}

.theme-container {
  display:flex;
  justify-content: center;
  align-items:flex-end;
}

.theme-title {
  color:var(--text-primary-clr);
  font-size: 1rem;
  text-transform:uppercase;
}

.theme-container__switcher {
  display:flex;
  list-style-type:none;
}

.theme-label {
  cursor:pointer;
  color:var(--text-primary-clr);
}

.switcher__theme-name {
  display:flex;
  align-items: center;
  flex-direction:column;
}